{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-bar-chart"></i> Estat Auditories</h3>
        </div>
        <div class="box-body">
            <h4>Auditories pendents {{ pending_audits }}</h4>
            <h4>Auditories en procés {{ open_audits }}</h4>
        </div>
    </div>
{% endblock %}
