{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block sonata_admin_content %}
    <div class="sonata-ba-form">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">General</h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">Foto</h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <img class="img-responsive" src="{% if app.user.imageName %}{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('342x342') }}{% else %}http://placehold.it/342x342?text=?{% endif %}" alt="342x342 profile photo"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
